<%= form_for(listing) do |f| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <div class="form-group">
      <%= f.text_field :address_line_one, class: 'form-control', placeholder: 'Street' %>
    </div>

    <div class="form-group">
      <%= f.text_field :address_line_two, class: 'form-control', placeholder: 'Unit, suite, etc.' %>
    </div>

    <div class="form-group">
      <%= f.text_field :city, class: 'form-control', placeholder: 'City' %>
    </div>

    <div class="form-group">
      <%= %>
    </div>

    <%= f.submit 'Create', class: 'btn btn-primary' %>
  </div>
<% end %>
