<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions form-group">
    <%= f.submit "Send me reset password instructions", :class => 'btn btn-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
