footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: $footer-height;
    width: 100%;
    text-align: center;
    margin: 15px 0;

    div {
      padding: 5px 0;
    }

    .copyleft {
        margin-top: $footer-height / 4;
        .symbol {
          display: inline-block;
          @include transform(scaleX(-1));
          @include filter(FlipH);
        }
    }

    .links {
      ul {
        list-style: none;
        padding: 0;
        li {
          display: inline;
          padding: 0 15px;
        }
      }
    }
}
