@mixin transition($transition) {
    -webkit-transition: $transition;
       -moz-transition: $transition;
         -o-transition: $transition;
            transition: $transition;
}

@mixin transform($transform) {
    -webkit-transform: $transform;
       -moz-transform: $transform;
        -ms-transform: $transform;
         -o-transform: $transform;
            transform: $transform;
}

@mixin border-radius($radius) {
    @include border-top-radius($radius);
    @include border-bottom-radius($radius);
}

@mixin box-shadow($params) {
    -webkit-box-shadow: $params;
       -moz-box-shadow: $params;
            box-shadow: $params;
}

@mixin set-fixed-navbar-container() {
    position: fixed;
    width: 85%;

    @media #{$tablet} {
        width: 35%;
    }

    @media #{$desktop} {
        width: 35%;
    }
}

@mixin filter($filter) {
  -ms-filter: "#{$filter}";
  filter: $filter;
}
