// Color Palette
$dark-primary-color: #512da8;
$primary-color: #673ab7;
$light-primary-color: #d1c4e9;
$text-icons-color: #fff;
$accent-color: #651fff;
$primary-text-color: #212121;
$secondary-text-color: #727272;
$divider-color: #b6b6b6;

// Breakpoints
$mobile: '(max-width: 767px)';
$tablet: '(min-width: 768px)';
$desktop: '(min-width: 992px)';

$header-min-height: 50px;
$header-height: 50px;
$footer-height: 100px;
