// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "variables";
@import "mixins";
@import "header";
@import "footer";

html {
  position: relative;
  min-height: 100%;
}

body {     
  margin: 0 0 $footer-height;
}

a {
  color: #673ab7;
  text-decoration: none;
}

a:hover, a:focus {
  color: #311b92;
  text-decoration: none;
}
