<div id="flash-messages" class="container">
    <% if flash[:notice] %>
        <div class="row alert alert-success" role="alert"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:alert] %>
        <div class="row alert alert-danger" role="alert"><%= flash[:alert] %></div>
    <% end %>
</div>
