<footer>
  <div class="copyleft"><span class="symbol">&copy;</span> <%= Date.today.year %> Elistair</div>
  <div class="links">
    <ul>
      <li><%= link_to 'Terms', terms_path %></li>
      <li><%= link_to 'License', license_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
      <li><%= link_to 'Privacy', privacy_path %></li>
      <li><a href="https://gitlab.com/Elistair" target="_blank">Code</a></li>
    </ul>
  </div>
</footer>
