<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">
        <img src="" alt="Elistair logo">
      </a>
    </div>
    <% if user_signed_in? %>
      <%= link_to 'Sign out', destroy_user_session_path, :class => 'btn btn-link navbar-btn navbar-right', :method => :delete %> 
    <% else %>
      <%= link_to 'Sign in', new_user_session_path, :class => 'btn btn-primary navbar-btn navbar-right' %>
      <%= link_to 'Register', new_user_registration_path, :class => 'btn btn-link navbar-btn navbar-right' %>
    <% end %>
  </div>
</nav>